@charset "UTF-8";

@font-face {
  font-family: 'icons';
  src: url('icons.eot');
  src: url('icons.eot?#iefix') format('embedded-opentype'),
       url('icons.woff') format('woff'),
       url('icons.ttf') format('truetype'),
       url('icons.svg#icons') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: icons;
  font-style: normal;
  speak: none;

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-cw:before { content: "⟳"; } /* '\27f3' */
.icon-location:before { content: ""; } /* '\e724' */
.icon-location-1:before { content: ""; } /* '\e801' */
.icon-road:before { content: ""; } /* '\e78f' */
.icon-facebook:before { content: ""; } /* '\f300' */
.icon-facebook-rect:before { content: ""; } /* '\f301' */
.icon-twitter:before { content: ""; } /* '\f302' */
.icon-twitter-bird:before { content: ""; } /* '\f303' */
.icon-target:before { content: "🎯"; } /* '\1f3af' */
.icon-target-1:before { content: ""; } /* '\e800' */
