html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-text-size-adjust: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
 overflow-y: scroll;
 font:100%/1.5 Tahoma, Arial, Helvetica, Sans-serif;
 background-color: rgba(148, 148, 148, 0.597656);
 background: url("../Images/ravenna.png") ;
}
body
{
 margin:0 auto;
 text-align: center;
 line-height: 2;
}

@font-face 
{				
 font-family: 'hab';
    src: url('featureditem-webfont.eot');
    src: url('featureditem-webfont.eot?#iefix') format('embedded-opentype'),
         url('featureditem-webfont.woff') format('woff'),
         url('featureditem-webfont.ttf') format('truetype'),
         url('featureditem-webfont.svg#FeaturedItemRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a{
text-decoration:none;
color: black;
}
li
{
 list-style-type: none; 
}

h1 {
   text-align: centre;
   font: 6em hab;
}

h2 {
  font-size: 1em;
  text-align:left;
}

h3 {
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
	font-weight: bold;
}

::selection {
 background:  #C3C7D1; /* Safari */
}

::-moz-selection {
 background:  #C3C7D1; /* Firefox */
}


#map {
	height: 400px;
}

#note {
    position: absolute;
	visibility: hidden;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(68, 243, 52);
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

 .cssanimations .csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}


.settingsInputs {
  width: 95%;
}



.button2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #9E9E9E) );
	background:-moz-linear-gradient( center top, #fafafa 5%, #9E9E9E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#9E9E9E');
	background-color:#fafafa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.border {
	border: 1px solid rgba(0,0,0,0.25);
}

.buttonImg{height: 45px;
}

.right{
text-align: right;
}

.done{
background: rgb(21, 207, 21)  url(../Images/button.png) repeat-x !important;
}

.button {
  background: #222 url(../Images/button.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
}

.button:hover {
	background-color: #111;
	cursor: pointer;
}

.settingImg{
  height: 80px;
}

.button:active {
	position:relative;
	top:1px;
	background-color: white;
	color: #111;
}

.settingsButton {
  background: #E1E9DD url(../Images/button.png) repeat-x ;
  padding: 0px ;
  font-size: 0px ;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
}

.settingsButton:hover {
	background-color: #FFF;
	cursor: pointer;
}

.settingsButton:active {
	position:relative;
	top:1px;
}

.info {
	text-align: centre;
	font-size: 1.2em;
	word-wrap: break-word;
	white-space: normal;
}

.shadow {
	border-radius: 20px;
	box-shadow: 3px 3px 5px 6px rgba(190, 190, 190, 0.58);
}

.route {
	 text-align: centre;
}

.existing{
	float:right;
	text-align: right;
}

.create{
	float:left;
	text-align: left;
}

.overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.settings{
  border-radius: 20px;
  margin-top: 10% !important;
	position: absolute;
	top: 0;
	z-index: 20;
	visibility: hidden;
	left: 50% !important;
}

.grid {
	padding: 0 20px;
	background-color: rgba(224, 224, 224, 0.58);
}

.clear{
	clear:both;
}

.row {
	width: 100%;
	display:inline-block;
	white-space:nowrap;
}

 #message {
  background-color:  rgba(224, 224, 224, 1) ;
}


